@import url(coin.css);
@import url(roulette.css);
@import url(ellipsis.css);
@import url(eatsuki.css);

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8bbd0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

a.inline {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.btn.outlined {
  border-width: 2px;
  border-style: solid;
}

.btn.dark {
  color: #424242;
  border-color: #424242;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 1px  rgba(0, 0, 0, .2);
}

.font-grey {
  color: #424242;
}

.font-white {
  color: #FFF;
}

.bg-ichika {
  background-color: #FCDD51;
}

.bg-nino {
  background-color: #C6ABD4;
}

.bg-miku {
  background-color: #95C1E6;
}

.bg-yotsuba {
  background-color: #A5CD6C;
}

.bg-itsuki {
  background-color: #EE8893;
}

.logo {
  width: 100%;
  max-width: 600px;
  max-height: 150px;
}

.demo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
  margin: 8px;
  position: relative;
}

.demo-item.small {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 150px;
}

.demo-item.wide {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  min-width: 450px;
}

@media (max-width: 648px) {
  .demo-item.small {
    min-width: 150px;
  }
  .demo-item.wide {
    min-width: 250px;
  }
  .demo-item.wide, .demo-item.small {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.demo-event-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.demo-img {
  margin: 8px;
  border-radius: 4px;
}

.choco-block {
  border-radius: 12px;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  max-width: 1000px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 4px 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 16px 0;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.material-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px auto;
  max-width: 1000px;
}

.wrapper {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.wrapper.show {
  display: block;
}

.wrapper > .event-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .2);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 10px;
  max-height: 90%;
  max-width: 90%;
  width: 600px;
  padding: 10px 0;
  z-index: 500;
}

textarea.fullsize {
  width: 100%;
  font-family: consolas;
  border: none;
  padding: 20px;
  resize: none;
}

textarea.fullsize:active, textarea.fullsize:focus {
  outline: none;
}

.chip {
  border-radius: 4px;
  pointer-events: none;
  position: absolute;
  background-color: #ec407a;
  opacity: 0.7;
  font-family: consolas;
  padding: 8px;
  color: #fff;
}

.back-btn {
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
  z-index: inherit;
}

.back-btn:hover {
  opacity: 1;
}