.roulette-container {
  width: 500px;
  height: 500px;
  position: relative;
}

.roulette {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  animation: rot-roulette 10s cubic-bezier(0,.65,.92,.42) 0s infinite forwards;
}

.sector {
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
  position: absolute;
}

.sector.ichika {
  transform: rotate(54deg) skew(18deg); 
  background-color: #FCDD51;
}

.sector.nino {
  transform: rotate(126deg) skew(18deg);
  background-color: #C6ABD4;
}

.sector.miku {
  transform: rotate(198deg) skew(18deg);
  background-color: #95C1E6;
}

.sector.yotsuba {
  transform: rotate(270deg) skew(18deg);
  background-color: #A5CD6C;
}

.sector.itsuki {
  transform: rotate(342deg) skew(18deg);
  background-color: #EE8893;
}

@keyframes rot-roulette {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(432deg); }
  40% { transform: rotate(864deg); }
  60% { transform: rotate(1296deg); }
  80% { transform: rotate(1728deg); }
  100% { transform: rotate(2160deg); }
}

div.symbol {
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
  position: absolute;
}

img.symbol {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}

div.symbol.ichika {
  transform: rotate(45deg);
}

div.symbol.nino {
  transform: rotate(117deg);
}

div.symbol.miku {
  transform: rotate(189deg);
}

div.symbol.yotsuba {
  transform: rotate(261deg);
}

div.symbol.itsuki {
  transform: rotate(333deg);
}
